<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>
  
    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>
  
  
  <h3>< Request for Draft > Ad-hoc</h3>
  <div class="container mt-4">
      <!-- First Row: Select Project ID, Project Name, Location -->
      <div class="row mb-2">
          <div class="col-md-3">
            <label for="projectName" class="form-label">Client Name</label>
            <input type="text" id="projectName" class="form-control" placeholder="XYZ" />
          </div>
          <div class="col-md-3">
            <label for="location" class="form-label">Email ID</label>
            <input type="email" id="location" class="form-control" value="@"  />
          </div>
          <div class="col-md-3">
            <label for="location" class="form-label">Phone No.</label>
            <input type="email" id="location" class="form-control" value="1234567890"  />
          </div>
          <div class="col-md-2">
            <button class=" btn modify text-white">Go Ahead</button>
          </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-3">
                <label for="projectId" class="form-label">Type of Agreement</label>
                <select id="projectId" class="form-select">
                  <option>XYZ</option>
                  <option>ABC</option>
                  <option>DEF</option>
                </select>
              </div>
            <div class="col-md-3">
                <label for="projectName" class="form-label">Other Field Specifications</label>
                <input type="text" id="projectName" class="form-control" placeholder="XYZ" />
            </div>
            <div class="col-md-3">
                <label for="projectName" class="form-label">Remark</label>
                <input type="text" id="projectName" class="form-control" placeholder="XYZ" />
            </div>
            <div class="col-md-3">
                <label for="projectName" class="form-label">TAT</label>
                <input type="date" id="projectName" class="form-control"  />
            </div>
           
             
          </div>
     
          <div class="row">
            
            <div class="col-md-2">
              <button class="btn modify text-white">Submit to Lawyer 2</button>
            </div>
            <div class="col-md-2">
                <label for="projectName" class="form-label">ARN</label>
                <input type="text" id="projectName" class="form-control" />
              </div>
              <div class="col-md-2">
                <label for="location" class="form-label">Client ID</label>
                <input type="text" id="location" class="form-control" value=""  />
              </div>
          </div>
       
     
      </div>
     </div>
     </div>
  
  