<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>
  
    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>
  
  
  <h3>< Request for Draft > New Agreement</h3>
  <div class="container mt-4">
      <!-- First Row: Select Project ID, Project Name, Location -->
      <div class="row mb-2">
          <div class="col-md-3">
            <label for="projectId" class="form-label">Select Project ID</label>
            <select id="projectId" class="form-select">
              <option>XYZ</option>
              <option>ABC</option>
              <option>DEF</option>
            </select>
          </div>
          <div class="col-md-3">
            <label for="projectName" class="form-label">Project Name</label>
            <input type="text" id="projectName" class="form-control" placeholder="XYZ" />
          </div>
          <div class="col-md-3">
            <label for="location" class="form-label">Location</label>
            <input type="text" id="location" class="form-control" value="XYZ"  />
          </div>
          <div class="col-md-2">
            <button class=" btn modify text-white">Go Ahead</button>
          </div>
        </div>

        <div class="row mb-2">
            <div class="col-md-3">
                <label for="projectName" class="form-label">Project Full Name</label>
                <input type="text" id="projectName" class="form-control" placeholder="XYZ" />
              </div>
            <div class="col-md-3">
              <label for="projectId" class="form-label">Select Phase</label>
              <select id="projectId" class="form-select">
                <option>XYZ</option>
                <option>ABC</option>
                <option>DEF</option>
              </select>
            </div>
            <div class="col-md-3">
                <label for="projectId" class="form-label">Select Building</label>
                <select id="projectId" class="form-select">
                  <option>XYZ</option>
                  <option>ABC</option>
                  <option>DEF</option>
                </select>
              </div>    
          </div>
     
          <div class="row">
            <div class="col-md-2">
              <label for="projectId" class="form-label">Agreement for...</label>
              <select id="projectId" class="form-select">
                <option>XYZ</option>
                <option>ABC</option>
                <option>DEF</option>
              </select>
            </div>
            <div class="col-md-2">
              <label for="projectName" class="form-label">Authority Approval</label>
              <input type="text" id="projectName" class="form-control" />
            </div>
            <div class="col-md-2">
              <label for="location" class="form-label">TAT</label>
              <input type="date" id="location" class="form-control" value="XYZ"  />
            </div>
            <div class="col-md-2">
                <label for="projectId" class="form-label">Type of Agreement</label>
                <select id="projectId" class="form-select">
                  <option>XYZ</option>
                  <option>ABC</option>
                  <option>DEF</option>
                </select>
            </div>
            <div class="col-md-2">
              <button class="btn modify text-white">Submit to Lawyer 2</button>
            </div>
          </div>
       
     
      </div>
     </div>
     </div>
  
  