<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>


        <div class="">
            <h3>Add Lead</h3>
            <!-- First Row -->
            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_with" class="form-label">Project Name</label>
                    <input type="text" id="meething_with" class="form-control" value="" placeholder="Name" />
                </div>
                <div class="col-3">
                    <label for="meething_date" class="form-label">Contact Person</label>
                    <input type="text" id="meething_date" class="form-control" value="1234" />
                </div>
                <div class="col-3">
                    <label for="meething_time" class="form-label">Email ID</label>
                    <input type="email" id="meething_time" class="form-control" value="abc@gmail.com" />
                </div>
                <div class="col-3">
                    <label for="meething_time" class="form-label">Phone No.</label>
                    <input type="text" id="meething_time" class="form-control" value="1234567890" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_time" class="form-label">Address 1</label>
                    <input type="text" id="meething_time" class="form-control" value="fatima nagar, KPCT mall" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Location</label>
                    <input type="text" id="clientId" class="form-control" placeholder="Hadapsar" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">City</label>
                    <input type="text" id="clientId" class="form-control" placeholder="pune" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">State</label>
                    <input type="text" id="clientId" class="form-control" placeholder="Maharashtra" />
                </div>

            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_with" class="form-label">Pincode</label>
                    <input type="text" id="meething_with" class="form-control" value="" placeholder="123456" />
                </div>
                <div class="col-3">
                    <label for="meething_date" class="form-label">No. of units</label>
                    <input type="text" id="meething_date" class="form-control" placeholder="00" />
                </div>
                <div class="col-3">
                    <label for="srn" class="form-label">Project Completion Status</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                </div>
                <div class="col-3">
                    <label for="meething_time" class="form-label">Lead ID</label>
                    <input type="text" id="meething_time" class="form-control" placeholder="00" />
                </div>
            </div>

            <div class="d-flex justify-content-center mb-4">
                <div class="col-2 d-flex align-items-end">
                    <button class="btn submit w-100">
                        Submit
                    </button>
                </div>
            </div>
        </div>

        <div class="table-responsive">
          
            <table class="table table-bordered">
              <thead>
                <tr>
              
                  <th>Lead ID</th>
                  <th>Project</th>
                  <th>Location</th>
                  <th>Total No. of Unit</th>
                  <th>Project completion status</th>
                  <th>Email ID</th>
                  <th>Phone No.</th>
                  <th>Status</th>
    
                 
                </tr>
              </thead>
              <tbody>
                <tr>
                  <td>1</td>
                  <td></td>
                  <td>Pune</td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                  <td></td>
                 
                
                </tr>
               
              </tbody>
            </table>
          </div>

    </div>
</div>