<div class="row container-fluid">
    <div class="col-md-2 p-0 m-0">
        <app-sidebar></app-sidebar>
    </div>

    <div class="col-md-10">
        <div>
            <app-header></app-header>
        </div>

        <h3>Add Project</h3>

        <div class="mt-4">
            
            <!-- First Row -->
            <div class="row mb-4">
                  <div class="col-3">
                    <label for="srn" class="form-label">Select Project ID</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                   </div>
                <div class="col-3">
                    <label for="meething_date" class="form-label">Project Name</label>
                    <input type="text" id="meething_date" class="form-control" value="" />
                </div>
                <div class="col-3">
                    <label for="meething_time" class="form-label">Location</label>
                    <input type="text" id="meething_time" class="form-control" value="pune" />
                </div>
                <div class="col-3">
                    <div class="project_add">
                        <button class="btn submit">
                            Add Project
                        </button>
                    </div>
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="meething_time" class="form-label">Builder’s Name</label>
                    <input type="text" id="meething_time" class="form-control" value="" />
                </div>
                
                <div class="col-3">
                    <label for="clientId" class="form-label">Builder’s PAN Card Number</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Total no. of Units</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Units for Agreements</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="srn" class="form-label">Project Completion Status</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                   </div>
                
                <div class="col-3">
                    <label for="clientId" class="form-label">Date of Contract Signed</label>
                    <input type="date" id="clientId" class="form-control" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Contract No.</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
               
            </div>

            <div class="row mb-4">
                <div class="col-3">
                    <label for="srn" class="form-label">Contact Person’s Name</label>
                    <select id="mode_meeting" class="form-select mb-2">
                        <option selected>Select</option>
                    </select>
                   </div>
                
                <div class="col-3">
                    <label for="clientId" class="form-label">Contact Person’s Email ID</label>
                    <input type="date" id="clientId" class="form-control" placeholder="" />
                </div>
                <div class="col-3">
                    <label for="clientId" class="form-label">Contact Person’s Phone No.</label>
                    <input type="text" id="clientId" class="form-control" placeholder="" />
                </div>
                <div class="col-3">
                    <div class="project_add">
                        <button class="btn submit">
                            Submit to Client Manager
                        </button>
                    </div>
                </div>
               
            </div>



        

           
        </div>

      

    </div>
</div>